@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 100;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    overflow: visible;
    /* border: 1px solid white; */

}

/* Custom Scrollbar */

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.green-button{
  @apply flex items-center justify-center mb-2 bg-[#004621] hover:bg-green-700 rounded-3xl text-white p-2 font-bold
}

.main-heading{
  @apply font-black text-center text-3xl text-gray-600 mb-[10%]
}

.alert-box{
  @apply bg-red-100 border hidden border-red-400 text-red-700 px-2 py-2 rounded-2xl text-center mb-[4%]
}

.standard-label{
  @apply mb-[2%] text-xs
}

.standard-input{
  @apply p-2 text-xs rounded-3xl bg-[#EFEFEF] mb-[4%]
}

.right-logo {
  @apply w-[40%] items-center justify-center md:flex hidden h-full mr-[5%] mt-[7.5%]
}

.register-show-form1 {
  @apply flex flex-col
}

.register-hide-form1 {
  @apply hidden
}

.register-show-form2 {
  @apply flex flex-col
}

.register-hide-form2 {
  @apply hidden
}