<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
  <httpErrors errorMode="Detailed" /> 
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
